@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.carusel__wrapper{
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 9rem;
  overflow: hidden;
  height: 250px;
}

.congrats__img{
  width: 50%;
  margin: auto;
  @include media-tablet{
    width: 80%;
  }
}

.section__content{
  text-align: center;
  // width: 30%;
  // padding-top: 20%;
  // padding-left: 5%;

  .section__title{
    @include font(4.5rem, 1.2, 500);
    @include media-tablet{
      @include font(3.2rem, 1.2, 500);
    }
  }

  .start-text{
    font-family: 'Rochester', cursive;
    color: $color-brand;

    @include font(3.2rem, 1.2, 500);
    @include media-tablet{
      @include font(2.4rem, 1.2, 500);
    }
    @include media-mobile{
      @include font(1.9rem, 1.2, 500);
    }
  }

  .section__link{
    padding: 10px;
    color: $color-light;
    font-family: 'Roboto', sans-serif;
    @include font(1.6rem, 140%, 500);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: $color-brand;
    }
  }
    
}

.start__content{
  width: 30%;
  padding-top: 20%;
  padding-left: 5%;
}
